body {
    color: #000000;
    background-color: #FFFFFF;
    font-family: 'Lora', serif;
}

.title-styling {
    text-shadow: 1px 1px 1px #B4AE97, 2px 2px 1px #B4AE97;
    text-align: center;
}

.para-styling {
    position: absolute;
    text-align: center;
    min-width: 500px;
    max-width: auto;
}

.linebreak {
    border: 4px solid #000000;
    width: 50%;
}

.ex-grid {
  display: grid;  /* sets the display to grid on the surrounding div */
  grid-template-columns: 25% 25% 25% 25%;  /* sets each column to 25%% */
  gap: 10px;
  grid-template-rows: 25% 25% 25% 25%
}
.first-col {
  grid-column: 1;  /* sets an initial column */
  grid-row: 1;
}
.second-col {
  grid-column: 2;  /* sets a second column */
  grid-row: 1;   
}
.third-col {
  grid-column: 3;  /* sets a third column */
  grid-row: 1;
}
.fourth-col {
  grid-column: 4;  /* sets a fourth column */
  grid-row: 1;   
}
